.description {
    position: relative;
    top: 160px;
    left: 40%;
    width: 500px;
    text-align: left;
    z-index: 1;
}

.comments {
    position: relative;
    overflow: auto;
    width: 700px;
    top: 400px;
    left: 10%;
    z-index: 1;
}

.UpdateForm {
    position: relative;
    z-index: 2;
}
